@font-face {
    font-family: 'project_paintball_betadisplay';
    src: url('paintball_beta_2-webfont.eot');
    src: url('paintball_beta_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('paintball_beta_2-webfont.woff2') format('woff2'),
         url('paintball_beta_2-webfont.woff') format('woff'),
         url('paintball_beta_2-webfont.ttf') format('truetype'),
         url('paintball_beta_2-webfont.svg#project_paintball_betadisplay') format('svg');
    font-weight: normal;
    font-style: normal;

}

.center {
  text-align: center;
}

.mini {
  max-width: 56px;
}

.main {
  max-width: 64px;
}

.bonus {
  background-color: #DBFBD0;
}

.malus {
  background-color: #FBD0D0;
}

.space {
  margin-bottom: 40px;
}

h2, h3 {
  font-family: 'project_paintball_betadisplay', sans-serif;
}

h3 {
  color: #558FDA;
}

.slots {
  color: #FFD303;
  text-align: center;
}

@media only screen and (max-width: 40em) {
  .gear {
    max-width: 48px;
  }

  .mini {
    max-width: 42px;
  }

  .main {
    max-width: 52px;
  }

}
